<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/img/epic.jpg') }}">

        <!-- Bootstrap CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ url_for('static', path='/cdns/5.0.2_dist_css_bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">

        <script src="{{ url_for('static', path='/cdns/jquery-3.6.1.slim.js') }}"> </script>

        <title>EasyMiner ALPHA v0.01</title>
    </head>
    <body class="p-1">
        {% block body %} {% endblock %}

        <!-- Bootstrap Bundle with Popper -->
        <script src="{{ url_for('static', path='/cdns/5.0.2_dist_js_bootstrap.bundle.js') }}"></script>
        <script src="{{ url_for('static', path='/scripts.js') }}"></script>
    </body>

</html>
