
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6">

            <div class="card bg-dark p-1">
                <div class="row align-items-center card-header mb-1">
                    <div class="col-4">
{#                      <img alt='logo' class="img-responsive mb-2" src="{{ url_for('static', path='img/epic-cash-logo.png') }}" />#}
                        <img src="{{ url_for('static', path='img/logo-horizontal-500px-dark.png') }}"
                             alt='logo' class="img-responsive mb-2 mt-1" height="54">
                    </div>
                    <div class="col-8 text-end">
                        <p class="h2 text-light mt-1">
                            CALCULATOR
                        </p>
                        <p class="fs-7 text-muted my-0">
                            version 3.0.0
                        </p>

                    </div>
                </div>
{##}
{#                <div class="row justify-items-center text-center text-muted fw-bold">#}
{#                    <div class="col-3">Day</div>#}
{#                    <div class="col-1">/</div>#}
{#                    <div class="col-3">Week</div>#}
{#                    <div class="col-1">/</div>#}
{#                    <div class="col-4">Month</div>#}
{#                </div>#}
{#                <div class="row justify-items-center text-center text-white px-2">#}
{#                    <div class="col-3">0.021232</div>#}
{#                    <div class="col-1"></div>#}
{#                    <div class="col-3">0.141232</div>#}
{#                    <div class="col-1"></div>#}
{#                    <div class="col-3">0.541232</div>#}
{#                </div>#}

                <div class="card-body">
                    <form class="form" method="post">
                        {#  RIG SETUP  #}
                        <div class="accordion" id="rigAccordion">
                            <div class="accordion-item bg-dark border-0">
                                <div class="accordion-header h3" id="headingTwo">
                                    <div class="row mx-0 py-2 px-2 shadow-sm rounded-2" data-bs-toggle="collapse"
                                         data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                         style="color: #badce3; background: conic-gradient(from 315deg at 80% 60%, #5ba3a8, #4c929b, #306d7e, #1b4a61, #133c54);">
                                        <div class="col-9 text-start">
                                            Mining Rig
                                        </div>
                                        <div class="col-3 text-end text-dark">
                                            <span class="material-icons fs-1" id="rigIcon">expand_less</span>
                                        </div>
                                    </div>
                                </div>

                                <div id="collapseTwo" class="accordion-collapse collapse show border-0"
                                     aria-labelledby="headingTwo" data-bs-parent="#rigAccordion">
                                    <div class="accordion-body px-0 py-1">

                                        <div class="input-group mb-3 mt-2">
                                            <label class="input-group-text input-start" for="algorithmSelect">
                                                <small>Algorithm</small>
                                            </label>
                                                <select class="form-select" id="algorithmSelect" name="algorithm">
                                                <option selected value="randomx">RandomX (CPU)</option>
                                                <option value="progpow">ProgPoW (GPU)</option>
                                                <option value="cuckoo">Cuckoo (ASIC)</option>
                                            </select>
                                            <span class="input-group-text input-end" id="basic-addon2">
                                                <span class="material-icons" id="algoIcon">memory</span>
                                            </span>
                                        </div>

{#                                        <button type="button" class="btn btn-success btn-sm"#}
{#                                                onClick="toast('success', 'lol')">#}
{#                                            dasdsa#}
{#                                        </button>#}

                                        <div class="input-group mb-3">
                                            <span class="input-group-text input-start" id="basic-addon1">
                                                <small>Hashrate</small>
                                            </span>
                                            <input type="number" class="form-control" required value="10" id="hashrate"
                                                   aria-label="Rig Hashrate" aria-describedby="basic-addon2"
                                                   name="hashrate" step="0.1">
                                            <span class="input-group-text input-end" id="basic-addon2">
                                                <small id="hashrateUnits">KH/s</small>
                                            </span>
                                        </div>

                                        <div class="col-12">
                                            <div class="input-group">
                                                <span class="input-group-text input-start" id="basic-addon1">
                                                    <small>Power Cons.</small>
                                                </span>
                                                <input type="number" required class="form-control" placeholder="200W" id="consumption"
                                                       name="consumption" aria-label="consumption" aria-describedby="basic-addon2"
                                                       step="0.5" value="0">
                                                <span class="input-group-text input-end" id="basic-addon2">
                                                    <small>Watt</small>
                                                </span>
                                            </div>
                                        </div>

            {#                        <div class="row">#}
            {#                            <div class="col-6">#}
            {#                                <input type="button" disabled class="btn btn-outline-success w-100 btn-sm p-0" onclick="" value="Save Rig">#}
            {#                            </div>#}
            {#                            <div class="col-6">#}
            {#                                <input type="button" disabled class="btn btn-outline-success w-100 btn-sm p-0" onclick="" value="Load Rig">#}
            {#                            </div>#}
            {#                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="text-muted my-3"/>

                        {#  COSTS SETUP  #}
                        <div class="accordion" id="costsAccordion">
                            <div class="accordion-item bg-dark border-0">
                                <div class="accordion-header h3" id="headingOne">
                                    <div class="row mx-0 py-2 px-2 shadow-sm rounded-2" data-bs-toggle="collapse"
                                         data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                         style="color: #badce3; background: conic-gradient(from 315deg at 80% 60%, #5ba3a8, #4c929b, #306d7e, #1b4a61, #133c54);">
                                        <div class="col-9 text-start">
                                            Mining Costs
                                        </div>
                                        <div class="col-3 text-end text-dark">
                                            <span class="material-icons fs-1" id="costsIcon">expand_less</span>
                                        </div>
                                    </div>
                                </div>

                                <div id="collapseOne" class="accordion-collapse collapse show border-0"
                                     aria-labelledby="headingOne" data-bs-parent="#costsAccordion">
                                    <div class="accordion-body px-0 py-1">
                                        <div class="col-12 mt-2">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text input-start" id="basic-addon1">
                                                    <small>Energy Price</small>
                                                </span>
                                                <input type="number" required class="form-control" value="0.30" id="energy"
                                                       name="energy" aria-label="energy" aria-describedby="basic-addon2" step="0.01">
                                                <span class="input-group-text input-end" id="basic-addon2">
                                                    <small>kWh</small>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="input-group mb-3">
                                                <label class="input-group-text input-start" for="currencySelect">
                                                    <small>Currency</small>
                                                </label>
                                                <select class="form-select" id="currencySelect" name="currency">
                                                    <option selected value="USD">USD</option>
                                                    <option value="GBP">GBP</option>
                                                    <option value="PLN">PLN</option>
                                                    <option value="EUR">EUR</option>
                                                    <option value="CNY">CNY</option>
                                                </select>
                                                <span class="input-group-text input-end" id="basic-addon2">
                                                    <img src="{{ url_for('static', path='img/flags/us.svg') }}"
                                                         alt='currency-flag' class="m-0 rounded" height="23" id="flagIcon">
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="input-group">
                                                <span class="input-group-text input-start" id="basic-addon1">
                                                    <small>Pool fee</small>
                                                </span>
                                                <input type="number" required class="form-control" placeholder="0" id="pool_fee" name="pool_fee"
                                                       aria-label="Pool Fee" aria-describedby="basic-addon2" step="0.1" value="0">
                                                <span class="input-group-text input-end" id="basic-addon2">
                                                    <small>%</small>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <hr class="text-muted my-3"/>

                    <button type="button" class="btn btn-success w-100 mb-3 mt-1 btn-lg" onclick="submitForm()"
                            id="calculateButton" style="background: conic-gradient(from 225deg at 80% 50%, #1e6e12, #1c6b12, #176213, #135716, #134a1a, #123f1b, #11361a, #10331a);">
                        <span class="h3 mt-2" >Calculate</span>
                    </button>

                    {#  Calculations Result #}
                    <div class="accordion" id="resultAccordion" hidden>
                        <div class="accordion-item bg-dark border-0">
                            <div class="accordion-header" id="headingThree">
                                <div class="row mx-0 py-2 px-2 shadow-sm rounded-2" data-bs-toggle="collapse"
                                     data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"
                                     style="color: #badce3; background: conic-gradient(from 315deg at 80% 60%, #5ba3a8, #4c929b, #306d7e, #1b4a61, #133c54);">
                                    <div class="col-9 text-start h3">
                                        Result
                                    </div>

                                    <div class="col-3 text-end text-dark">
                                        <span class="material-icons fs-1" id="resultIcon">expand_less</span>
                                    </div>
                                </div>
                            </div>

                            <div id="collapseThree" class="accordion-collapse collapse show border-0"
                                 aria-labelledby="headingThree" data-bs-parent="#resultAccordion">
                                <div class="accordion-body px-2 py-2">
                                    <span class="text-light" id="responseArea"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <div class="small text-muted mt-0">Powered by
                        <a target="_blank" class="mx-1" href="https://epic-radar.com/api">EPIC-RADAR<sup><small>TM</small></sup></a>
                        | <a class="mx-1" href="https://blacktyg3r.com" target="_blank">blacktyg3r.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
async function submitForm() {
        const button = $("#calculateButton")
        button.prop("disabled", true);
        button.html(`<span class="spinner-border" role="status"></span>`);

        const body = {
            "unit": document.getElementById("hashrateUnits").innerHTML,
            "hashrate": document.getElementById("hashrate").value,
            "algorithm": document.getElementById("algorithmSelect").value,
            "currency": document.getElementById("currencySelect").value,
            "pool_fee": document.getElementById("pool_fee").value,
            "energy_price": document.getElementById("energy").value,
            "power_consumption": document.getElementById("consumption").value
        }

        console.log(body)

        const data = await apiCall(body, '/calculate', "POST")
        console.log(data)
        button.prop("disabled", false);
        button.html(`<span class="h3">Calculate</span>`);


        if ($("#collapseOne").hasClass("show")) {
            $("#headingOne").click();
            $("#collapseOne").removeClass("show");
        }

        $("#resultAccordion").attr("hidden", false);
        $("#responseArea").html(data.coins_per_day[1]);
    }
</script>


{#                <div class="card-header text-center p-1">#}
{#                    <table class="table table-small text-white table-borderless mb-1 mt-1" >#}
{#                        <thead class="">#}
{#                            <tr>#}
{#                                <td>Last Block:</td>#}
{#                                <td>Time:</td>#}
{#                                <td>Algorithm:</td>#}
{#                            </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                            <tr>#}
{#                                <td>#}
{#                                    <span id="heightText" class="">#}
{#                                        <span class="material-icons mx-2">cloud_download</span>#}
{#                                    </span>#}
{#                                </td>#}
{#                                <td>#}
{#                                    <span id="deltaText" class="">#}
{#                                         Connecting..#}
{#                                    </span>#}
{#                                </td>#}
{#                                <td>#}
{#                                    <span id="heightText" class="">#}
{#                                        <span id="algoIcon" class="ml-2"></span>#}
{#                                        <span id="algoText"></span>#}
{#                                    </span>#}
{#                                </td>#}
{#                            </tr>#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}

{##}
{##}
{#<div class="input-group mb-3">#}
{#    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>#}
{#    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">#}
{#</div>#}
{##}
{#<label for="basic-url" class="form-label">Your vanity URL</label>#}
{#<div class="input-group mb-3">#}
{#  <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>#}
{#  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">#}
{#</div>#}
{##}
{#<div class="input-group mb-3">#}
{#  <span class="input-group-text">$</span>#}
{#  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">#}
{#  <span class="input-group-text">.00</span>#}
{#</div>#}
{##}
{#<div class="input-group mb-3">#}
{#  <input type="text" class="form-control" placeholder="Username" aria-label="Username">#}
{#  <span class="input-group-text">@</span>#}
{#  <input type="text" class="form-control" placeholder="Server" aria-label="Server">#}
{#</div>#}
{##}
{#<div class="input-group">#}
{#  <span class="input-group-text">With textarea</span>#}
{#  <textarea class="form-control" aria-label="With textarea"></textarea>#}
{#</div>#}