
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6">

            <div class="card bg-dark p-1">
                <div class="row align-items-center card-header mb-1">
                    <div class="col-4">
                         <img alt='logo' class="img-responsive mb-2" src="{{ url_for('static', path='img/epic-cash-logo.png') }}" />
                    </div>
                    <div class="col-8 text-end">
                        <span class="h3 text-light">
                            MINING CALCULATOR
                        </span>
                    </div>
                </div>

                <div class="card-body">
                    <form class="form" method="post">
                        {#  RIG SETUP  #}
                        <div class="accordion" id="rigAccordion">
                            <div class="accordion-item bg-dark border-0">
                                <div class="accordion-header h3" id="headingTwo">
                                    <div class="row mx-0 py-2 px-2 shadow-sm rounded-2" data-bs-toggle="collapse"
                                         data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                         style="color: #badce3; background: conic-gradient(from 315deg at 80% 60%, #5ba3a8, #4c929b, #306d7e, #1b4a61, #133c54);">
                                        <div class="col-9 text-start">
                                            Mining Rig
                                        </div>
                                        <div class="col-3 text-end text-dark">
                                            <span class="material-icons fs-1" id="rigIcon">expand_less</span>
                                        </div>
                                    </div>
                                </div>

                                <div id="collapseTwo" class="accordion-collapse collapse show border-0"
                                     aria-labelledby="headingTwo" data-bs-parent="#rigAccordion">
                                    <div class="accordion-body px-0 py-1">
                                        <div class="input-group mb-3 mt-2">
                                            <span class="input-group-text w-25" id="basic-addon1" >Hashrate</span>
                                            <input type="number" class="form-control" required value="1000" id="hashrate"
                                                   aria-label="Rig Hashrate" aria-describedby="basic-addon2" name="hashrate">
                                            <span class="input-group-text" id="basic-addon2">H/s</span>
                                        </div>

                                        <div class="input-group mb-3">
                                            <label class="input-group-text w-25" for="algorithm">Algorithm</label>
                                                <select class="form-select" id="algorithm" name="algorithm">
                                                <option selected value="randomx">RandomX (CPU)</option>
                                                <option value="progpow">ProgPoW (GPU)</option>
                                                <option value="cuckoo">Cuckoo (ASIC)</option>
                                            </select>
                                        </div>

                                        <div class="col-12">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text w-25" id="basic-addon1">Power Cons.</span>
                                                <input type="number" required class="form-control" placeholder="200W" id="consumption"
                                                       name="consumption" aria-label="consumption" aria-describedby="basic-addon2"
                                                       step="0.5" value="0">
                                                <span class="input-group-text" id="basic-addon2">Watt</span>
                                            </div>
                                        </div>

            {#                        <div class="row">#}
            {#                            <div class="col-6">#}
            {#                                <input type="button" disabled class="btn btn-outline-success w-100 btn-sm p-0" onclick="" value="Save Rig">#}
            {#                            </div>#}
            {#                            <div class="col-6">#}
            {#                                <input type="button" disabled class="btn btn-outline-success w-100 btn-sm p-0" onclick="" value="Load Rig">#}
            {#                            </div>#}
            {#                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="text-muted my-3"/>

                        {#  COSTS SETUP  #}
                        <div class="accordion" id="costsAccordion">
                            <div class="accordion-item bg-dark border-0">
                                <div class="accordion-header h3" id="headingOne">
                                    <div class="row mx-0 py-2 px-2 shadow-sm rounded-2" data-bs-toggle="collapse"
                                         data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                         style="color: #badce3; background: conic-gradient(from 315deg at 80% 60%, #5ba3a8, #4c929b, #306d7e, #1b4a61, #133c54);">
                                        <div class="col-9 text-start">
                                            Mining Costs
                                        </div>
                                        <div class="col-3 text-end text-dark">
                                            <span class="material-icons fs-1" id="costsIcon">expand_less</span>
                                        </div>
                                    </div>
                                </div>

                                <div id="collapseOne" class="accordion-collapse collapse show border-0"
                                     aria-labelledby="headingOne" data-bs-parent="#costsAccordion">
                                    <div class="accordion-body px-0 py-1">
                                        <div class="col-12 mt-2">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text w-50" id="basic-addon1" >Energy Unit Price</span>
                                                <input type="number" required class="form-control" placeholder="0.30" id="energy"
                                                       name="energy" aria-label="energy" aria-describedby="basic-addon2" step="0.01" value="0">
                                                <span class="input-group-text" id="basic-addon2">kWh</span>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="input-group mb-3">
                                                <label class="input-group-text w-50" for="currency">Currency</label>
                                                <select class="form-select" id="currency" name="currency">
                                                    <option selected value="USD">USD</option>
                                                    <option value="GBP">GBP</option>
                                                    <option value="PLN">PLN</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text w-50" id="basic-addon1" >Pool fee</span>
                                                <input type="number" required class="form-control" placeholder="0" id="pool_fee" name="pool_fee"
                                                       aria-label="Pool Fee" aria-describedby="basic-addon2" step="0.1" value="0">
                                                <span class="input-group-text" id="basic-addon2">%</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <hr class="text-muted my-3"/>

                    <button type="button" class="btn btn-success w-100 mb-3 mt-1 btn-lg" onclick="submitForm()"
                            id="calculateButton" style="background: conic-gradient(from 225deg at 80% 50%, #1e6e12, #1c6b12, #176213, #135716, #134a1a, #123f1b, #11361a, #10331a);">
                        <span class="h3 mt-2" >Calculate</span>
                    </button>

                    <div class="bg-light rounded text-dark text-start mt-2">
                        <span id="responseArea"></span>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <div class="small text-muted mt-0">Powered by
                        <a target="_blank" href="https://epic-radar.com/api">epic-radar.com/api</a>
                        | <a href="https://blacktyg3r.com" target="_blank">blacktyg3r.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
async function submitForm() {
        const button = $("#calculateButton")
        button.prop("disabled", true);
        button.html(`<span class="spinner-border" role="status"></span>`);

        const body = {
            "hashrate": document.getElementById("hashrate").value,
            "algorithm": document.getElementById("algorithm").value,
            "currency": document.getElementById("currency").value,
            "pool_fee": document.getElementById("pool_fee").value,
            "energy": document.getElementById("energy").value,
            "consumption": document.getElementById("consumption").value
        }


            console.log(await apiCall(body, '/calculate', "calculationsBody", "POST"))
            {#document.getElementById("heightText").innerHTML = data.height#}
            {#document.getElementById("algoIcon").innerHTML = data.algo.icon#}
            {#document.getElementById("algoText").innerHTML = data.algo.text#}
            {#document.getElementById("deltaText").innerHTML = data.delta#}
            button.prop("disabled", false);
            button.html(`<span class="h3" >Calculate</span>`);





    }
</script>


{#                <div class="card-header text-center p-1">#}
{#                    <table class="table table-small text-white table-borderless mb-1 mt-1" >#}
{#                        <thead class="">#}
{#                            <tr>#}
{#                                <td>Last Block:</td>#}
{#                                <td>Time:</td>#}
{#                                <td>Algorithm:</td>#}
{#                            </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                            <tr>#}
{#                                <td>#}
{#                                    <span id="heightText" class="">#}
{#                                        <span class="material-icons mx-2">cloud_download</span>#}
{#                                    </span>#}
{#                                </td>#}
{#                                <td>#}
{#                                    <span id="deltaText" class="">#}
{#                                         Connecting..#}
{#                                    </span>#}
{#                                </td>#}
{#                                <td>#}
{#                                    <span id="heightText" class="">#}
{#                                        <span id="algoIcon" class="ml-2"></span>#}
{#                                        <span id="algoText"></span>#}
{#                                    </span>#}
{#                                </td>#}
{#                            </tr>#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}

{##}
{##}
{#<div class="input-group mb-3">#}
{#    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>#}
{#    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">#}
{#</div>#}
{##}
{#<label for="basic-url" class="form-label">Your vanity URL</label>#}
{#<div class="input-group mb-3">#}
{#  <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>#}
{#  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">#}
{#</div>#}
{##}
{#<div class="input-group mb-3">#}
{#  <span class="input-group-text">$</span>#}
{#  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">#}
{#  <span class="input-group-text">.00</span>#}
{#</div>#}
{##}
{#<div class="input-group mb-3">#}
{#  <input type="text" class="form-control" placeholder="Username" aria-label="Username">#}
{#  <span class="input-group-text">@</span>#}
{#  <input type="text" class="form-control" placeholder="Server" aria-label="Server">#}
{#</div>#}
{##}
{#<div class="input-group">#}
{#  <span class="input-group-text">With textarea</span>#}
{#  <textarea class="form-control" aria-label="With textarea"></textarea>#}
{#</div>#}